body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  direction: ltr;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  background-color: #f7f7f7;
  color: rgb(0, 1, 41);
}
button {
  cursor: pointer;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background: #fffdfd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin: 0 0 1rem; 
  }
  .form-container {
    background: #e0edfa;
    border: 1px solid #866f6f;
    border-radius: 9px;
    padding: 1rem;
    min-height: 353px;
    min-width: 555px;

    &__fields {
      margin-bottom: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      input {
        background: #ffffff;
        border-radius: 5px;
        padding: 10px 22px;
        border: none;
        min-height: 22px;
        min-width: 79%;
      }
      button {
        background: #6fda9a;
        border-radius: 5px;
        text-align: center;
        border: none;
        margin-left: 8px;
        min-height: 40px;
        min-width: 60px;
      }
    }
    &__items {
      &__row {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
        background: #ffffff;
        border-radius: 5px;
        padding: 10px 22px;
        min-height: 22px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &_item {
          margin: 0;
          font-size: 16px;
          text-align: left;
        }
        &_btns {
          button {
            border-radius: 5px;
            text-align: center;
            border: none;
            margin-left: 8px;
            min-height: 40px;
            min-width: 60px;
            color: #e0edfa;
          }
          .edit {
            background: #6fc0da;
          }
          .delete {
            background: #da6fa2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 90%;
    min-width: 90%  !important;
  }
}
@media screen and (max-width: 593px) {
  .form-container__fields {
    flex-direction: column ;
    justify-content: center ;
    input {
      min-width: unset ;
      margin-bottom: 10px;
    }
    button {
      margin-left: 0 !important; 
    }
  }
}
